@model List<tl2_tp6_2024_ElZorroAs.Models.Productos>

@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<a href="@Url.Action("CrearProducto", "Productos")" class="btn btn-primary">Agregar Producto</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Descripcion</td>
                <td>$@producto.Precio</td>
                <td>
                    <a href="@Url.Action("ModificarProducto", "Productos", new { id = producto.IdProducto })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("EliminarProducto", "Productos", new { id = producto.IdProducto })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
